@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lobster&display=swap');
/* 'Lobster' */
html, body {
  margin: 0;
  font-family: 'Nanum Pen Script', sans-serif;
  margin: 0px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
}

#root {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  min-height: 100wh;
  height: 100%;
  background-color: white;
  box-shadow: red 0px, 7px, 29px, 0px;
}